@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot'), url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon'],
[class*=' icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-border_left:before {
  content: '\e900';
}
.icon-align-left:before {
  content: '\e901';
}
.icon-hand-o-right:before {
  content: '\e902';
}
.icon-window-maximize:before {
  content: '\e903';
}
.icon-window-minimize:before {
  content: '\e904';
}
.icon-pencil:before {
  content: '\e905';
}
.icon-search:before {
  content: '\e986';
}
.icon-download3:before {
  content: '\e9c7';
}
.icon-upload3:before {
  content: '\e9c8';
}
.icon-point-up:before {
  content: '\ea03';
}
.icon-point-right:before {
  content: '\ea04';
}
.icon-point-down:before {
  content: '\ea05';
}
.icon-point-left:before {
  content: '\ea06';
}
.icon-warning:before {
  content: '\ea07';
}
.icon-notification:before {
  content: '\ea08';
}
.icon-question:before {
  content: '\ea09';
}
.icon-info:before {
  content: '\ea0c';
}
.icon-cancel-circle:before {
  content: '\ea0d';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-checkmark:before {
  content: '\ea10';
}
.icon-checkmark2:before {
  content: '\ea11';
}
.icon-checkbox-checked:before {
  content: '\ea52';
}
.icon-checkbox-unchecked:before {
  content: '\ea53';
}
